html, body {
  font-family: Raleway, Arial;
  /*background-image: linear-gradient(to top,rgb(172, 255, 220) 1%, rgb(147, 95, 252));*/
  background-image: url('images/DesignWeekly1.png');
  background-size: 100% 100%;
  height: 100%;
}

.title {
  display: inline;
  vertical-align: center;

  font-weight: bold;
  font-size: 50px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
  color: white;
}

.info, .week-info {
  text-align: left;
  color: white;
}

.info {
  margin-top: 0px;
}

.week-info {
  padding: 5px 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.week-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 5px;
  text-align: center;
  margin-bottom:50px;
}

.day-container {
  /*border-color: rgb(0,180,255);*/
  /*border-style: solid; /*this makes the border appear around div*/
  min-height: 175px;
  border-width: 3px;
  border-radius: 20px 20px 10px 10px;
  padding: 0px 0px;

  background-color: rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.25s;

  display: grid;
  grid-template-rows: 36px 1fr 55px;
}

.day-container:hover {
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.2);
}

.day-menu-bar {
  display: flex;
  flex-direction: row;
  /*background-color: rgb(0, 145, 255);*/
  background-color: rgb(102, 0, 255);
  margin: 0px;
  border-radius: 20px 20px 0px 0px;
  padding: 5px;
  color: white;
}

.button-view {
  display: inline;
  background-color: black;
  border: none;
  border-radius: 25px;
  color: white;
  font-weight: bold;

  padding: 10px 15px;
  margin-right: 20px;
  cursor: pointer;
}

.button-day,
.button-clear-tasks,
.button-change-info {
  /*background-color: rgb(0, 60, 151);*/
  background-color: rgb(255, 255, 255);
  border: none;
  /*border-radius: 25px;*/
  color: rgb(102,0,255);

  padding: 5px 10px;
  cursor: pointer;
  margin-right: 2px;
  margin-left: 2px;
  font-weight: bold;
}

.button-day {
  border-radius: 10px;
  transition: background-color 0.25s;
}

.button-day:hover {
  background-color: rgb(0,100,255);
}

.button-clear-tasks {
  background-color: #FF8800;
  color: white;
  font-weight: bold;
  border-radius: 10px;

  padding: 10px 15px;
  margin-right: 0px;
}

.button-clear-tasks:hover {
  background-color: rgb(139,0,0);
}

.button-change-info {
  /*border: solid;
  border-color: black;*/
  border-radius: 10px;
  padding: 5px 10px;
}

.css1-input {
  font-size: 20px;
  text-align: center;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.35);
}

::placeholder {
  color: rgb(0, 0, 0);
}

.checkbox-button {
  border-style: solid;
  border-radius: 50px;
  border-width: 1px;
  font-size: 10px;
  vertical-align: center;

  background-color: white;
  width: 20px;
  height:20px;
}

/*.checkbox-button:hover {
  background-color: rgb(185, 185, 185);
}*/

.css-change-info {
  font-size: 40px;
  margin-left: 20px;
}

.input-menu {
  display:grid;
  grid-template-columns: 1fr 250px 150px 100px 1fr;
  place-items: center;
}

/*WEEKLY2*/
.css2-input {
  width: 130px;
  border: none;
  border-radius: 20px 0px 0px 20px; /*topL, topR, botR, botL*/
  height: 30px;
  padding: 0px 0px 0px 20px; /*top, right, bottom, left*/
  margin-left: 15px;
  background-color: rgba(255, 255, 255, 0.35);
}

.css2-add-task-button {
  border: none;
  border-radius: 0px 20px 20px 0px;
  height: 30px;
  margin-right: 15px;
  background-color: rgba(102,0,255,0.4);
  color: white;
}

.css2-back-task-button {
  border: none;
  border-radius: 0px;
  height: 30px;
}

.css2-add-box {
  display: grid;
  grid-template-columns: 1fr 40px 50px;
  padding: 10px;
}

.css2-add-box-original {
  padding:10px;
}

.css2-checkbtn {
  border: none;
  border-radius: 0px 0px 0px 10px;
  background-color: rgb(200, 200, 200);
  transition: opacity 0.5s;
}

.css2-checkbtn:hover {
  /* background-color: #0CF574; */
  opacity: 0.8;
}

.css2-checkbtn:active {
  background-color: #00a44a;
}

.css2-checkbtn-complete {
  background-color: #0CF574;
}

.css2-checkbtn-complete:hover {
  /* background-color: rgb(200, 200, 200); */
  opacity: 0.8;
}

.css2-checkbtn-complete:active {
  background-color: rgb(150, 150, 150);
}

.css2-edit-button { 
  border: none;
  background-color: azure;
  transition: background-color 0.5s;
}

.css2-edit-button:hover {
  background-color: rgb(140, 140, 255);
}

.css2-delete-button {
  border: none;
  border-radius: 0px 0px 10px 0px;
  background-color: rgb(200, 200, 200);
  transition: background-color 0.5s;
}

.css2-delete-button:hover {
  background-color: rgb(255, 100, 100);
}

.css2-task-field {
  margin: 10px;
}

.css2-task-box {
  background-color:rgba(255, 255, 255, 0.35);
  color: black;

  border-radius: 10px;
  margin: 10px 0px;
  padding: 0px;
  width: 85%;
  
  display: grid;
  place-self: center;
  grid-template-rows: 1fr 25px;
}

.css2-task-buttons-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.css2-edit-input {
  border: none;
  border-radius: 10px 10px 0px 0px; /*topL, topR, botR, botL*/
  height: 30px;
  padding: 0px 0px 0px 20px; /*top, right, bottom, left*/
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
}

.css2-save-edit-button {
  border: none;
  border-radius: 0px 0px 0px 10px;
  transition: background-color 0.5s;
}

.css2-save-edit-button:hover {
  background-color: rgb(140, 140, 255);
}

.css2-cancel-edit-button {
  border: none;
  border-radius: 0px 0px 10px 0px;
  transition: background-color 0.5s;
}

.css2-cancel-edit-button:hover {
  background-color: rgb(255, 100, 100);
}

.css2-edit-buttons-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.css2-add-button {
  background-color: rgba(102,0,255);
  /* background-color: rgb(190, 149, 250); */
  /* background-color: transparent; */
  /* color: rgb(102,0,255); */
  color: white;
  font-weight: bold;
  border-radius: 20px;
  /* padding: 10px 15px; */
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;

  
  border: solid;
  border-color: white;
  border-width: 1px;
  /* width: 100%; */
}